body {
            font-family: 'Arial', sans-serif;
            background: url("images/uni.jpg");
            background-size: contain; /* Ensures the whole image fits */
            background-position: center; /* Centers the image */
            background-repeat: no-repeat; /* Prevents tiling */
            background-size: cover;
            background-size: 100% 100%;
            text-align: center;
            margin: 0;
            padding: 20px;
            height: 100vh; /* Ensures full viewport height */
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center; /* Centers vertically */
           
        }
        .container {
            width: 80%; /* Makes it take 80% of the screen width */
           max-width: 450px; /* Increases the max width */
           min-height: 300px; /* Sets a minimum height */
            background:rgba(31, 22, 22, 0.25);
            padding: 20px;
            border-radius: 2rem;
            border-color: rgb(245, 239, 244);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        h2 {
            font-size: 2rem;
            color:rgb(240, 237, 239);
            
            font-family: 'Times New Roman', Times, serif;  
        }

        p {
            font-size: 2rem;
            color:rgb(253, 248, 252);
            font-family: 'Times New Roman', Times, serif;
        }
        button {
            margin-top: 10px;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .restart {
            background: #4CAF50;
            color: white;
        }
        .go-back {
            background: #ff6f61;
            color: white;
        }
